@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.navbar-logo {
    margin-left:4rem;
    scale: 4;
    max-height: 30px;
    max-width: 30px;
}

.home {
  display: flex;
  margin-top: -3rem;
  justify-content: center;
  background-color: cadetblue;
}
.card{
  background-color: bg-grey-5 ;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
  margin-top: 4rem;
  min-width: 550px;
  min-height: 550px;
  border-radius: 20px;

}

.user-information {
  margin-top: 10vh;
}
.alt-img {
  opacity: 0;
}

.figure{
  line-height: 0;
  margin: 0;
}

.offscreen{
  position: absolute;
  left:-1000em;
}
