@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


.scroll-index {
    height: 40vh;
    width: 150vh;
}
.index {
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size:cover;
  min-width: 1000px;
  margin-top: -3vh;
}
.title {
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-bottom: 5vh;
}

.title-popular {
  margin-bottom: 5vh;
  justify-content: left;
  height: 30vh;
  width: 60vh;
  scale: 1.2;
}

.title-categories {
  margin-top: 10vh;
  margin-bottom: -5vh;
  justify-content: left;
  height: 30vh;
  width: 60vh;
  scale: 1.2;
}

.options {
    margin-top: 10vh;
}

.option-specific {
  scale: 1.1;
  margin: 3vh;
  margin-bottom: 20vh;
  border-radius: 20px;
}

.messageNoData{
  color: aliceblue;
}
