@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


.scroll-index {
    height: 100vh;
    width: 150vh;
}
.index {
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size:cover;
  min-width: 1000px;
  margin-top: -3vh;
}
.title {
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-bottom: 5vh;
}

.title-popular {
    justify-content: left;
    height: 30vh;
    width: 50vh;
}

.title-categories {
  margin-top: 10vh;
  margin-bottom: -5vh;
  justify-content: left;
  height: 30vh;
  width: 50vh;
}

.options {
    margin-top: 10vh;
}
