@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@media only screen and (max-width: 1080px) {
  .col-display {
    display: none;
  }
}

.scroll-login {
  height: 120vh;
}

.img-background {
  max-width: 800px;
  height: 120vh;
}

.login {
  margin-top: -5rem;
  background: rgba(19, 35, 47, 0.9);
}

.title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.form {
  scale: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 1000px;
  max-width: 100%;
  padding: 20px;
}

.form-label {
  margin-top: 5vh;
  color: white;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
}

.form-input {
  padding: 10px 15px;
  background: none;
  background-image: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.form-submit {
  scale: 0.9;
  background: #15a2be;
  border: none;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  min-height: max-content;
}

.registerButton {
  scale: 0.8;
  background: #15a2be;
  border: none;
  color: white;
  margin-top: 2rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  min-height: max-content
}

.login-logo {
  width: auto;
  height: 200px;
  margin-top: 5vh;
}