@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


.index-padding {
    height: 100vh;
    width: 150vh;
}
.index {
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size:cover;
  height: 150vh;
  margin-top: -2vh;
}

.cards-view {
  margin-top: 5vh;
}

.q-table__bottom {
    min-height: 50px;
    padding: 4px 14px 4px 16px;
    font-size: 12px;
    color: white;
}


.form-submit-register {
  scale: 1;
  background: #1ab188;
  border: none;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  min-height: max-content;
}
.alt-img {
  opacity: 0;
}

.figure{
  line-height: 0;
  margin: 0;
}

.offscreen{
  position: absolute;
  left:-1000em;
}

.register-button {
  scale: 1;
  background: #1ab188;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  min-height: max-content;
  width: auto;
}

.title-dishes {
    justify-content: left;
    height: 30vh;
    width: 50vh;
    border-radius: 20px;
}

.title-categories {
  margin-top: 10vh;
  margin-bottom: -5vh;
  justify-content: left;
  height: 30vh;
  width: 50vh;
}

.options {
    margin-top: 10vh;
}
