
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.background{
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size:cover;
  height: 100%;
  margin-top: -1vh;
}
.figure{
  line-height: 0;
  margin: 0;
}
.offscreen{
  position: absolute;
  left:-1000em;
}
.tab{
  background-color:rgb(37, 48, 58)
}
.q-table__bottom {
  min-height: 50px;
  padding: 4px 14px 4px 16px;
  font-size: 12px;
  color: white;
}
