.input-image {
  margin-top: 15px;
  padding: 15px 15px 15px 15px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  min-height: max-content;
}
.image-from-input {
  object-fit:scale-down;
  max-width: 100px;
  min-height: 100px;

}

.profile{
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size:cover;
  min-width: 1000px;
  margin-top: -3vh;
}
