.table-cart {
  padding: 10vh;
}

.confirm {
  margin-top: 3vh;

}

.background {
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgroundIndex.png");
  background-size: cover;
  min-width: 1000px;
  margin-top: -3vh;
}

.form-submit {
  background: #15a2be;
  scale: 1;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  min-height: max-content;
  width: auto;
}

.table {
  border-radius: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

.q-table__top,
thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: #A3BFDB;
}